<!DOCTYPE html>
<html>
<head>
        <div class="main-header">
     LIBRARY CARD SYSTEM
    </div>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="admin-bg">

<div class="center-card glass big">

<h2>Admin Dashboard</h2>

<div class="action-row">

    <!-- LIBRARY CARDS -->

    <a href="/admin/cards" class="card-box">
        <img src="/static/images/library_card.jpg">
        <div class="btn primary">Library Cards</div>
    </a>

    <!-- BOOK REQUESTS -->

    <a href="/admin/book_requests" class="card-box">
        <img src="/static/images/books.jpg">
        <div class="btn primary">Book Requests</div>
    </a>

</div>

<a href="/logout" class="btn danger full">Logout</a>

</div>

</body>
</html>
